
/* Global stylizations */

@import "./vars.scss";

*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-black;
    color: $color-white;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: $color-grey;
}

body::-webkit-scrollbar-thumb {
    background-color: $color-yellow;
    border-radius: 20px;
}
 
a{
    text-decoration: none;
    color: $color-yellow;
    transition: 0.5s;
}

.container-movie{
    margin-top: 104px;

    .title{
        color: $color-white;
        font-size: clamp( 1.7rem, 3vw ,2rem);
        text-align: center;
        margin: 2rem 0 1rem;
    }

    .query-text{
        color: $color-yellow;
    }

    .movies-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2rem;
        margin: 0 auto;
    }

}


/****************** Pages ******************/

@import "./pages/Movie.scss";

/****************** Components ******************/

@import "./components/NavBar.scss";
@import "./components/shared/MoviesCard/MoviesCard.scss";
